@model LoginViewModel
@{
    Layout = null;
}


<!--================= Meta Tags -->
<!--================= Favicon -->
<!--================= Template Style -->
<link rel="preload" as="style" href="~/css/theme.css" onload="this.onload=null;this.rel='stylesheet'">
<noscript>
    <link rel="stylesheet" href="~/css/theme.css">
</noscript>

<!--================= Font Style -->
<link rel="preload" as="style" href="~/css/font/font.css" onload="this.onload=null;this.rel='stylesheet'">
<noscript>
    <link rel="stylesheet" href="~/css/font/font.css">
</noscript>

<!--================= Bootstrap Style -->
<link rel="preload" as="style" href="~/css/bootstrap/bootstrap.min.css" onload="this.onload=null;this.rel='stylesheet'">
<noscript>
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css">
</noscript>

<!--================= Bootstrap Icons Style -->
<link rel="preload" as="style" href="~/css/bs-icons/bootstrap-icons.css" onload="this.onload=null;this.rel='stylesheet'">
<noscript>
    <link rel="stylesheet" href="~/css/bs-icons/bootstrap-icons.css">
</noscript>

<!--================= Swiper Bundle Style -->
<link rel="preload" as="style" href="~/css/swiper-bundle.min.css" onload="this.onload=null;this.rel='stylesheet'">
<noscript>
    <link rel="stylesheet" href="~/css/swiper-bundle.min.css">
</noscript>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="container text-center">
    <img src="/img/security.jpg" class="img-fluid rounded-3" style="max-height:200px" alt="" />
</div>






<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">
                        BENKIEN YÖNETİM PANELİ
                    </h3>
                </div>
            



                <div class="card-body">
                    <form asp-controller="Login" asp-action="Index">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="Email" class="form-control" type="email" placeholder="name@example.com" />
                            <label asp-for="Email">Email</label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Password" class="form-control" type="password" placeholder="Şifre" />
                            <label asp-for="Password">Şifre</label>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-check mb-3">
                            <input class="form-check-input" id="inputRememberPassword" type="checkbox" value="" />
                            <label class="form-check-label" for="inputRememberPassword">Beni Hatırla</label>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                            <a class="small" asp-action="NewPassword">Şifremi Unuttum?</a>
                            <button type="submit" class="btn btn-primary">Giriş</button>
                        </div>
                    </form>
                    @Html.Raw(TempData["Mesaj"]) 

                </div>
                <div class="card-footer text-center py-3">
                </div>
            </div>
        </div>
    </div>
</div>
