@model User

@{
    ViewData["Title"] = "Kullanıcı Düzenleme";
}

<div class="container mt-4">
    <h2 class="text-center">@ViewData["Title"]</h2>
    <hr />

    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Edit" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" disabled />
                </div>

                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Surname" class="control-label"></label>
                    <input asp-for="Surname" class="form-control" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CreateDate" class="control-label">Ekleme Tarihi</label>
                    <input asp-for="CreateDate" class="form-control" type="datetime-local" disabled />
                    <span asp-validation-for="CreateDate" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="IsActive" class="control-label">Aktif Et / Pasif Et</label>
                    <input asp-for="IsActive" class="form-check" type="checkbox" />
                    <span asp-validation-for="IsActive" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="IsAdmin" class="control-label">Admin Yap / Kaldır</label>
                    <input asp-for="IsAdmin" class="form-check" type="checkbox" />
                    <span asp-validation-for="IsAdmin" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Kaydet" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" class="btn btn-success">Kullanıcı Listesine Geri Dön</a>

    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</div>
