
<title>@ViewData["Title"] - BENKIEN - ABOUT</title>
<!DOCTYPE html>
<html dir="auto" lang="tr_TR">

<head>

    <!--================= Meta Tags -->
   

    <!--================= Favicon -->

</head>

<body>

    <!-- |=====|| Header Menu End ||=================| -->
    <!-- |==========================================| -->
    <!-- |==========================================| -->
    <!-- |=====|| Header Page Start ||===============| -->

    <section class="header__page mt-0">
        <div class="container">
            <div class="row text-center">
                <div class="col-12">
                    <div class="title">
                        <strong class="fs-2">Hakkımızda</strong>
                    </div>
                    <div class="desc">
                        <p class="mb-0 fs-6">
                            Benkien Elektronik - İnovasyonun ve Kalitenin Adı

                            2013 yılında kurulan Benkien Elektronik, teknoloji harikası üretim tesislerinde elektronik ve kozmetik sektörlerine yön veren bir marka olma misyonuyla yola çıktı. Başarı hikayemiz, sektördeki güçlü duruşumuz, kaliteli ürünlerimiz ve iş ortaklarımızla kurduğumuz güvene dayanıyor.
                            <br />
                            <hr />
                            Yüksek Kalite, Güvenilir Performans

                            Benkien Elektronik, en son teknolojiyle donatılmış üretim tesislerinde elektronik ürünlerin yanı sıra kozmetik ürünler konusunda da iddialıdır. Kalite standartlarından ödün vermeden, müşterilerimize güvenilir ve performanslı ürünler sunmak için sürekli olarak çalışıyoruz. Ürün portföyümüzdeki her ürün, titiz bir kalite kontrol sürecinden geçer ve endüstri standartlarına uygun olarak üretilir.

                            Küresel İş Ortağı ve Dağıtım Ağı

                            Benkien Elektronik, Türkiye'de ve dünya genelindeki büyük e-ticaret platformlarıyla güçlü iş ortaklıkları kurarak müşterilere geniş bir erişim sunmaktadır. Trendyol, Hepsiburada gibi lider platformlar üzerinden geniş bir müşteri kitlesine ulaşıyor ve ürünlerimizi daha fazla tüketiciyle buluşturuyoruz.

                            Sürdürülebilirlik ve Toplumsal Sorumluluk

                            Benkien Elektronik olarak, sadece iş dünyasında değil, aynı zamanda çevreye duyarlı ve toplumsal sorumluluk sahibi bir marka olma taahhüdümüzü sürdürüyoruz. Üretim süreçlerimizde sürdürülebilirlik ilkesine bağlı kalıyor, atık yönetimi ve enerji tasarrufu konularında öncü adımlar atıyoruz.

                            Geleceğe Yatırım Yapıyoruz

                            Benkien Elektronik, geleceğe yönelik yatırımlar ve sürekli yeniliklerle sektördeki liderliğini sürdürmeye kararlıdır. Müşterilerimize daha fazla değer sunabilmek için AR-GE çalışmalarına önem veriyor, pazarın ihtiyaçlarına uygun ürünler geliştiriyoruz.

                            Benkien Elektronik, elektronik ve kozmetik dünyasında kalite, güven ve yenilikçilikle anılan bir marka olarak, müşteri memnuniyetini her zaman en üst düzeyde tutmayı sürdürecektir. İlerleyen yıllarda da sektördeki etkimizi artırarak, yeni başarı hikayeleri yazmaya devam edeceğiz.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- |=====|| Header Page End ||=================| -->
    <!-- |==========================================| -->
    <!-- |==========================================| -->
    <!-- |=====|| About Wrapper Start ||===============| -->

    <section class="about__wrapper">
        <div class="container">
            <div class="row justify-content-center align-items-center d-flex">
              @*   <div class="col-lg-6">
                    <figure>
                        <img src="https://picsum.photos/600/500.webp" alt="" class="rounded-3 w-100 object-fit-cover">
                    </figure>
                </div> *@
                <div class="col-lg-6">
                    <div class="about__descs">
                        <p class="mb-0">
                          
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- |=====|| About Wrapper End ||=================| -->
    <!-- |==========================================| -->
    <!-- |==========================================| -->
    <!-- |=====|| Why About Start ||===============| -->

    <section class="why__about">
        <div class="container">
            <div class="row text-center">
                <div class="col-12">
                    <div class="title">
                        <strong class="fs-2">Neden Biz?</strong>
                    </div>
                    <div class="desc">
                        <p class="mb-0 fs-6">
                            Kalite ve Güvenilirlik: Benkien Elektronik olarak, ürünlerimizde en üst düzeyde kaliteyi ve güvenilirliği sağlamak için titizlikle çalışıyoruz. Endüstri standartlarına uygun üretim süreçlerimiz ve kalite kontrol mekanizmalarımızla, müşterilerimize sorunsuz ve performanslı ürünler sunuyoruz.

                            Teknolojik İnovasyon: Sektördeki en son teknolojik gelişmeleri yakından takip ediyor ve ürünlerimizi sürekli olarak yeniliyoruz. Müşterilerimize daha önce yaşamadıkları bir deneyim sunabilmek için AR-GE çalışmalarımıza büyük önem veriyoruz.

                            Geniş Ürün Yelpazesi: Elektronik ve kozmetik alanındaki geniş ürün yelpazemizle müşterilerimize çeşitlilik sunuyoruz. Herkesin ihtiyacına uygun ürünleri, rekabetçi fiyatlarla ve üstün kaliteyle müşterilerimize ulaştırıyoruz.

                            Güçlü İş Ortağı İlişkileri: Türkiye'nin ve dünyanın önde gelen e-ticaret platformlarıyla güçlü iş ortaklıkları kurarak, müşterilere geniş bir erişim sağlıyoruz. Trendyol, Hepsiburada gibi platformlar üzerinden müşterilerimize hızlı ve güvenilir bir şekilde ulaşıyoruz.

                            Sürdürülebilirlik ve Toplumsal Sorumluluk: Benkien Elektronik olarak, sadece iş dünyasında değil, aynı zamanda çevresel ve toplumsal sorumluluklarımızın bilincindeyiz. Sürdürülebilir üretim ve toplumsal katkılarla, gelecek nesillere daha iyi bir dünya bırakma sorumluluğumuzun farkındayız.

                            Müşteri Memnuniyeti: Bizim için müşteri memnuniyeti en öncelikli konudur. Sorularınıza hızlı çözümler bulmak, size en iyi hizmeti sunmak ve her zaman yanınızda olmak için buradayız. Müşterilerimizin memnuniyeti, işimizin temel taşıdır.

                            Benkien Elektronik olarak, sektördeki güçlü duruşumuz, teknolojik yeniliklere olan bağlılığımız ve müşteri odaklı yaklaşımımızla öne çıkıyoruz. Bizimle çalıştığınızda, kalite, güven ve müşteri memnuniyetinin bir araya geldiği bir deneyim yaşayacaksınız. Neden biz? Çünkü sizin başarınız, bizim başarımızdır.
                        </p>
                    </div>
                </div>
            </div>
           
        </div>
    </section>

    <!-- |=====|| Why About End ||=================| -->
    <!-- |==========================================| -->
    <!-- |==========================================| -->
    <!-- |=====|| About Contact Start ||===============| -->

    <section class="about__contact">
        <div class="container">
            <div class="row text-center">
                <div class="col-12">
                    <div class="title d-grid">
                        <strong class="fs-2">Aradığınızı Bulamadınız mı ?</strong>
                        <span class="fs-4">Hemen Bize Ulaşın</span>
                    </div>
                    <div class="desc mt-4">
                        <p class="mb-0 fs-6">
                           İletişim formundan öneri, şikayet yada dileklerinizi iletebilirsiniz
                        </p>
                    </div>
                    <a href="/ContactUs" class="btn btn-dark shadow-none rounded-pill py-3 px-5 icon-link icon-link-hover mt-4">
                        Bize Ulaş
                        <i class=" bi bi-arrow-right text-white h-auto"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>

  

  
</body>

</html>

