@{
    ViewData["Title"] = "Home Page";
}



<!DOCTYPE html>
<html dir="auto" lang="tr_TR">

<head>

    <!--================= Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta name="revisit-after" content="7 day">
    <meta name="robots" content="index">
    <meta name="robots" content="follow">
    <meta name="robots" content="all">

    <!--================= Theme Setting -->
    <title>###</title>
    <meta name="description" content="##">
    <meta name="keywords" content="##">
    <meta name="author" content="">
    <meta name="generator" content="Theme Version v1.0">

    <!--================= LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="website name" />
    <meta property="og:site" content="website link" />
    <meta property="og:title" content="post title" />
    <meta property="og:description" content=" post description" />
    <meta property="og:image" content="image link" />
    <meta property="og:url" content="post to link" />
    <meta property="og:type" content="article" />

    <!--================= Favicon -->
    <link rel="shortcut icon" type="image/favicon" href="">

    <!--================= Template Style -->
    <link type="text/css" rel="preload" href="global/css/theme.css" as="style"
        onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="global/css/theme.css">
    </noscript>

    <!--================= Font Style -->
    <link type="text/css" rel="preload" href="global/css/font/font.css" as="style"
        onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="global/css/font/font.css">
    </noscript>

    <!--================= Bootstrap Style -->
    <link type="text/css" rel="preload" href="global/css/bootstrap/bootstrap.min.css" as="style"
        onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="global/css/bootstrap/bootstrap.min.css">
    </noscript>

    <!--================= Bootstrap Icons Style -->
    <link type="text/css" rel="preload" href="global/css/bs-icons/bootstrap-icons.css" as="style"
        onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="global/css/bs-icons/bootstrap-icons.css">
    </noscript>

    <!--================= Bootstrap Icons Style -->
    <link type="text/css" rel="preload" href="global/css/swiper-bundle.min.css" as="style"
        onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="global/css/swiper-bundle.min.css">
    </noscript>

</head>

<body>

    <div class="loader" id="loader">
        <div class="auto-center"></div>
        <div class="bounce-conteneur">
            <div class="bounce bounce-left"></div>
            <div class="bounce bounce-center"></div>
            <div class="bounce bounce-right"></div>
        </div>
    </div>

    <!-- |==========================================| -->
    <!-- |=====|| Top Header Start ||===============| -->

    <div class="header__bar py-3">
        <div class="container">
            <div class="d-flex align-items-center justify-content-center justify-content-md-between">
                <div class="left__items d-none d-md-block">
                    <div class="text__notife">
                        <p class="mb-0 text-white">
                            AirPods satın alın, 6 ay boyunca ücretsiz Apple Music aboneliğinden yararlanın.
                        </p>
                    </div>
                </div>
                <div class="right__items">
                    <div class="d-flex">
                        <nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb"
                            class="border-end pe-3 border-light border-opacity-50">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="#" class="text-white">Üye Ol</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a href="#"
                                        class="text-white">Kayıt</a></li>
                            </ol>
                        </nav>
                        <select
                            class="form-select form-select-sm ms-3 py-0 w-auto shadow-none border-0 text-bg-dark rounded-0"
                            aria-label=".form-select-sm example">
                            <option value="1" selected>TR</option>
                            <option value="2">EN</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- |=====|| Top Header End ||=================| -->
    <!-- |==========================================| -->
    <!-- |==========================================| -->
    <!-- |=====|| Header Menu Start ||===============| -->

    <div class="header__menu py-4 bg-white">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between">
                <div class="header__logo">
                    <figure class="mb-0">
                        <a href="" title="">
                            <img src="global/img/benkien_logo.jpg" alt="Logo" width="180">
                        </a>
                    </figure>
                </div>
                <div class="header__nav d-none d-md-block">
                    <ul class="nav gap-5">
                        <li class="nav-item">
                            <a class="nav-link active text-dark text-opacity-50 p-0" aria-current="Anasayfa"
                                title="Anasayfa" href="index.html">Anasayfa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  text-dark text-opacity-50 p-0" aria-current="Hakkımızda"
                                title="Hakkımızda" href="hakkimizda.html">Hakkımızda</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle p-0 text-dark text-opacity-50" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Kategoriler
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end border-0 shadow-sm rounded-0 mt-3">
                                <li>
                                    <a class="dropdown-item py-2" href="kategori.html" aria-current="Action"
                                        title="Action">
                                        Kategori
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item py-2" href="#" aria-current="Action" title="Action">
                                        Action
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item py-2" href="#" aria-current="Action" title="Action">
                                        Action
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item py-2" href="#" aria-current="Action" title="Action">
                                        Action
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark text-opacity-50 p-0" aria-current="Ürünler" title="Ürünler"
                                href="urun_detay.html">Ürünler</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark text-opacity-50 p-0" aria-current="İletişim" title="İletişim"
                                href="iletisim.html">İletişim</a>
                        </li>
                    </ul>
                </div>
                <div class="header__icons">
                    <div class="d-flex gap-3">
                        <a href="javascript:void(0);" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop"
                            aria-controls="offcanvasTop" aria-label="Herbaflora Search">
                            <i class="bi bi-search text-dark text-opacity-50 fs-5"></i>
                        </a>
                        <a href="javascript:void(0);" class="position-relative badge__basket" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                            <i class="bi bi-bag-check text-dark text-opacity-50 fs-5"></i>
                            <span
                                class="position-absolute top-0 start-100 translate-middle bg-danger border border-light rounded-circle">
                                1
                            </span>
                        </a>
                        <a class="d-block d-md-none" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                            aria-controls="offcanvasExample">
                            <i class="bi bi-list fs-4 text-dark text-opacity-50"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- |=====|| Header Menu End ||=================| -->
    <!-- |==========================================| -->
    <!-- |==========================================| -->
    <!-- |=====|| Slider Wrapper Start ||===============| -->

    <section class="slider__wrapper my-0">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <figure class="mb-0">
                        <img src="global/img/airpods.jpg" alt="">
                    </figure>
                    <div class="slider__content">
                        <div class="container text-center">
                            <div class="d-grid position-absolute top-0 start-50 translate-middle-x mt-5 w-100">
                                <strong class="text-dark fs-2">
                                    AirPods Pro (1. nesil) ile kıyaslandığında.
                                </strong>
                                <span class="text-dark fs-2">Kulaklık</span>
                            </div>
                            <div class="button__links position-absolute bottom-0 start-50 translate-middle-x mb-5">
                                <a href="" class="btn btn-dark shadow-none rounded-pill py-3 px-5">Ürünü Keşfet</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <figure class="mb-0">
                        <img src="global/img/airpods.jpg" alt="">
                    </figure>
                    <div class="slider__content">
                        <div class="container text-center">
                            <div class="d-grid position-absolute top-0 start-50 translate-middle-x mt-5 w-100">
                                <strong class="text-dark fs-2">
                                    AirPods Pro (1. nesil) ile kıyaslandığında.
                                </strong>
                                <span class="text-dark fs-2">Kulaklık</span>
                            </div>
                            <div class="button__links position-absolute bottom-0 start-50 translate-middle-x mb-5">
                                <a href="" class="btn btn-dark shadow-none rounded-pill py-3 px-5">Ürünü Keşfet</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="autoplay-progress">
                <svg viewBox="0 0 48 48">
                    <circle cx="24" cy="24" r="20"></circle>
                </svg>
                <span></span>
            </div>
        </div>
    </section>

    <!-- |=====|| Slider Wrapper End ||=================| -->
    <!-- |==========================================| -->
    <!-- |==========================================| -->
    <!-- |=====|| Banner Animate Start ||===============| -->

    <section class="animation m-0 position-relative">
        <div class="container">
            <div class="row justify-content-center align-items-center d-flex">
                <div class="col-12 col-lg-8">
                    <div class='reveal'>
                        <div class="image-wrap">
                            <figure class="mb-0">
                                <img src='https://images.unsplash.com/photo-1496865534669-25ec2a3a0fd3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80'
                                    class="w-100">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper position-absolute top-0 start-50 translate-middle-x z-3">
            <h2 class="text base-headline">En yeni ve en&nbsp; iyi hediyeleri verin.</h2>
            <p class="text animated-headline" aria-hidden="true">.. .... .. .. ... .......... ......</p>
        </div>
    </section>

    <!-- |=====|| Banner Animate End ||=================| -->
    <!-- |==========================================| -->
    <!-- |==========================================| -->
    <!-- |=====|| Banner Animate Start ||===============| -->

    <section class="cards__post m-0">
        <div class="stack">
            <div class="stack__card">
                <div class="container">
                    <div class="row justify-content-center align-items-center d-flex">
                        <div class="col-lg-6">
                            <figure class="mb-0">
                                <img src="https://picsum.photos/1920/1024.webp" alt="">
                            </figure>
                        </div>
                        <div class="col-lg-6">
                            <div class="sticky-top">
                                <div class="stack__header">
                                    <strong class="text-white-50 fs-4">Lorem ipsum dolor sit amet.</strong>
                                </div>
                                <div class="stack__desc">
                                    <p class="text-white-50 fs-6">
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi quibusdam minima
                                        expedita. Quo ipsum, laudantium culpa magni consequuntur accusantium. Corrupti
                                        fugit
                                        minus, veritatis expedita quo, alias dolores voluptatem pariatur repudiandae non
                                        impedit aut velit delectus nisi beatae est dolore ipsum aperiam consequatur
                                        commodi
                                        suscipit quas iure itaque doloremque. Ipsam recusandae, repellat, perferendis
                                        eos
                                        iste tempore expedita maxime dignissimos temporibus assumenda corrupti saepe a
                                        suscipit similique hic libero neque, obcaecati earum sed officia qui ullam natus
                                        debitis! Autem debitis similique excepturi!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="stack__card">
                <div class="container">
                    <div class="row justify-content-center align-items-center d-flex">
                        <div class="col-lg-6">
                            <figure class="mb-0">
                                <img src="https://picsum.photos/1920/1024.webp" alt="">
                            </figure>
                        </div>
                        <div class="col-lg-6">
                            <div class="sticky-top">
                                <div class="stack__header">
                                    <strong class="text-white-50 fs-4">Lorem ipsum dolor sit amet.</strong>
                                </div>
                                <div class="stack__desc">
                                    <p class="text-white-50 fs-6">
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi quibusdam minima
                                        expedita. Quo ipsum, laudantium culpa magni consequuntur accusantium. Corrupti
                                        fugit
                                        minus, veritatis expedita quo, alias dolores voluptatem pariatur repudiandae non
                                        impedit aut velit delectus nisi beatae est dolore ipsum aperiam consequatur
                                        commodi
                                        suscipit quas iure itaque doloremque. Ipsam recusandae, repellat, perferendis
                                        eos
                                        iste tempore expedita maxime dignissimos temporibus assumenda corrupti saepe a
                                        suscipit similique hic libero neque, obcaecati earum sed officia qui ullam natus
                                        debitis! Autem debitis similique excepturi!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- |=====|| Banner Animate End ||=================| -->
    <!-- |==========================================| -->
    <!-- |==========================================| -->
    <!-- |=====|| Popular Product Start ||===============| -->

    <section class="popular__product">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="page__title d-flex justify-content-between align-items-center mb-4">
                        <div class="title__text">
                            <strong>
                                En Çok Satan Ürünlerimiz
                            </strong>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, a!
                            </p>
                        </div>
                        <a href="" class="btn btn-dark shadow-none rounded-pill py-3 px-5 icon-link icon-link-hover"">Hepsini Gör
                            <i class=" bi bi-arrow-right text-white h-auto"></i>
                        </a>
                    </div>
                </div>
                <div class="col-12">
                    <div class="swiper mySwiperProduct">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide pb-3">
                                <div class="card rounded-3 border-0 shadow-sm position-relative">
                                    <figure class="mb-0 position-relative">
                                        <img src="https://picsum.photos/600/450.webp" alt=""
                                            class="rounded-3 rounded-bottom-4">
                                    </figure>
                                    <div class="card-body py-4">
                                        <div class="product__title mb-2">
                                            <strong>Lorem ipsum dolor sit amet.</strong>
                                        </div>
                                        <div class="product__desc">
                                            <p class="mb-2">
                                                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                            </p>
                                        </div>
                                        <div class="product__price d-flex align-items-center">
                                            <strong>158,00₺</strong>
                                            <small><del class="ms-3">125,00₺</del></small>
                                        </div>
                                    </div>
                                    <a href="" class="stretched-link"></a>
                                </div>
                            </div>
                            <div class="swiper-slide pb-3">
                                <div class="card rounded-3 border-0 shadow-sm position-relative">
                                    <figure class="mb-0 position-relative">
                                        <img src="https://picsum.photos/600/450.webp" alt=""
                                            class="rounded-3 rounded-bottom-4">
                                    </figure>
                                    <div class="card-body py-4">
                                        <div class="product__title mb-2">
                                            <strong>Lorem ipsum dolor sit amet.</strong>
                                        </div>
                                        <div class="product__desc">
                                            <p class="mb-2">
                                                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                            </p>
                                        </div>
                                        <div class="product__price d-flex align-items-center">
                                            <strong>158,00₺</strong>
                                            <small><del class="ms-3">125,00₺</del></small>
                                        </div>
                                    </div>
                                    <a href="" class="stretched-link"></a>
                                </div>
                            </div>
                            <div class="swiper-slide pb-3">
                                <div class="card rounded-3 border-0 shadow-sm position-relative">
                                    <figure class="mb-0 position-relative">
                                        <img src="https://picsum.photos/600/450.webp" alt=""
                                            class="rounded-3 rounded-bottom-4">
                                    </figure>
                                    <div class="card-body py-4">
                                        <div class="product__title mb-2">
                                            <strong>Lorem ipsum dolor sit amet.</strong>
                                        </div>
                                        <div class="product__desc">
                                            <p class="mb-2">
                                                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                            </p>
                                        </div>
                                        <div class="product__price d-flex align-items-center">
                                            <strong>158,00₺</strong>
                                            <small><del class="ms-3">125,00₺</del></small>
                                        </div>
                                    </div>
                                    <a href="" class="stretched-link"></a>
                                </div>
                            </div>
                            <div class="swiper-slide pb-3">
                                <div class="card rounded-3 border-0 shadow-sm position-relative">
                                    <figure class="mb-0 position-relative">
                                        <img src="https://picsum.photos/600/450.webp" alt=""
                                            class="rounded-3 rounded-bottom-4">
                                    </figure>
                                    <div class="card-body py-4">
                                        <div class="product__title mb-2">
                                            <strong>Lorem ipsum dolor sit amet.</strong>
                                        </div>
                                        <div class="product__desc">
                                            <p class="mb-2">
                                                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                            </p>
                                        </div>
                                        <div class="product__price d-flex align-items-center">
                                            <strong>158,00₺</strong>
                                            <small><del class="ms-3">125,00₺</del></small>
                                        </div>
                                    </div>
                                    <a href="" class="stretched-link"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- |=====|| Popular Product End ||=================| -->
    <!-- |==========================================| -->
    <!-- |==========================================| -->
    <!-- |=====|| Order Static Start ||===============| -->

    <section class="order__statics">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-5">
                    <div class="page__title mb-4">
                        <div class="title__text">
                            <strong>
                                En Çok Satan Ürünlerimiz
                            </strong>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla culpa soluta eligendi
                                ipsam dignissimos obcaecati voluptas atque iusto saepe sequi.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="statics__item mt-5">
                <div class="row">
                    <div class="col-lg-4 justify-content-center align-items-start text-center m-auto">
                        <div class="img">
                            <figure class="mb-0">
                                <img src="global/img/icons/01.png" alt="">
                            </figure>
                        </div>
                        <div class="title my-3">
                            <strong>2 Gün İçerisinde Kargo</strong>
                        </div>
                        <div class="desc">
                            <p class="mb-0 text-dark text-opacity-50">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor, ad.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 justify-content-center align-items-center text-center m-auto">
                        <div class="img">
                            <figure class="mb-0">
                                <img src="global/img/icons/02.png" alt="">
                            </figure>
                        </div>
                        <div class="title my-3">
                            <strong>2 Gün İçerisinde Kargo</strong>
                        </div>
                        <div class="desc">
                            <p class="mb-0 text-dark text-opacity-50">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor, ad.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 justify-content-center align-items-center text-center m-auto">
                        <div class="img">
                            <figure class="mb-0">
                                <img src="global/img/icons/03.png" alt="">
                            </figure>
                        </div>
                        <div class="title my-3">
                            <strong>2 Gün İçerisinde Kargo</strong>
                        </div>
                        <div class="desc">
                            <p class="mb-0 text-dark text-opacity-50">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor, ad.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- |=====|| Order Static End ||=================| -->
    <!-- |==========================================| -->
    <!-- |==========================================| -->
    <!-- |=====|| Benkien Start ||===============| -->

    <section class="benkien">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-5">
                    <div class="page__title mb-4">
                        <div class="title__text">
                            <strong>
                                #BENKIEN
                            </strong>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla culpa soluta eligendi
                                ipsam dignissimos obcaecati voluptas atque iusto saepe sequi.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="benkien__grid">
            <div class="swiper mySwiperBenkien">
                <div class="swiper-wrapper pb-3">
                    <div class="swiper-slide">
                        <div class="card rounded-3 border-0 shadow-sm position-relative">
                            <figure class="mb-0 position-relative">
                                <img src="https://picsum.photos/500/650.webp" alt=""
                                    class="rounded-3 rounded-bottom-4 w-100">
                            </figure>
                            <div class="card-body py-4">
                                <div class="d-flex justify-content-start align-items-center">
                                    <figure class="mb-0">
                                        <img src="https://picsum.photos/60/60.webp"
                                            class="object-fit-cover rounded-circle" alt="">
                                    </figure>
                                    <div class="d-grid lh-1 ms-3">
                                        <strong>Sandra Wong</strong>
                                        <small>Lorem, ipsum dolor.</small>
                                    </div>
                                </div>
                            </div>
                            <a href="" class="stretched-link"></a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card rounded-3 border-0 shadow-sm position-relative">
                            <figure class="mb-0 position-relative">
                                <img src="https://picsum.photos/500/650.webp" alt=""
                                    class="rounded-3 rounded-bottom-4 w-100">
                            </figure>
                            <div class="card-body py-4">
                                <div class="d-flex justify-content-start align-items-center">
                                    <figure class="mb-0">
                                        <img src="https://picsum.photos/60/60.webp"
                                            class="object-fit-cover rounded-circle" alt="">
                                    </figure>
                                    <div class="d-grid lh-1 ms-3">
                                        <strong>Sandra Wong</strong>
                                        <small>Lorem, ipsum dolor.</small>
                                    </div>
                                </div>
                            </div>
                            <a href="" class="stretched-link"></a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card rounded-3 border-0 shadow-sm position-relative">
                            <figure class="mb-0 position-relative">
                                <img src="https://picsum.photos/500/650.webp" alt=""
                                    class="rounded-3 rounded-bottom-4 w-100">
                            </figure>
                            <div class="card-body py-4">
                                <div class="d-flex justify-content-start align-items-center">
                                    <figure class="mb-0">
                                        <img src="https://picsum.photos/60/60.webp"
                                            class="object-fit-cover rounded-circle" alt="">
                                    </figure>
                                    <div class="d-grid lh-1 ms-3">
                                        <strong>Sandra Wong</strong>
                                        <small>Lorem, ipsum dolor.</small>
                                    </div>
                                </div>
                            </div>
                            <a href="" class="stretched-link"></a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card rounded-3 border-0 shadow-sm position-relative">
                            <figure class="mb-0 position-relative">
                                <img src="https://picsum.photos/500/650.webp" alt=""
                                    class="rounded-3 rounded-bottom-4 w-100">
                            </figure>
                            <div class="card-body py-4">
                                <div class="d-flex justify-content-start align-items-center">
                                    <figure class="mb-0">
                                        <img src="https://picsum.photos/60/60.webp"
                                            class="object-fit-cover rounded-circle" alt="">
                                    </figure>
                                    <div class="d-grid lh-1 ms-3">
                                        <strong>Sandra Wong</strong>
                                        <small>Lorem, ipsum dolor.</small>
                                    </div>
                                </div>
                            </div>
                            <a href="" class="stretched-link"></a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card rounded-3 border-0 shadow-sm position-relative">
                            <figure class="mb-0 position-relative">
                                <img src="https://picsum.photos/500/650.webp" alt=""
                                    class="rounded-3 rounded-bottom-4 w-100">
                            </figure>
                            <div class="card-body py-4">
                                <div class="d-flex justify-content-start align-items-center">
                                    <figure class="mb-0">
                                        <img src="https://picsum.photos/60/60.webp"
                                            class="object-fit-cover rounded-circle" alt="">
                                    </figure>
                                    <div class="d-grid lh-1 ms-3">
                                        <strong>Sandra Wong</strong>
                                        <small>Lorem, ipsum dolor.</small>
                                    </div>
                                </div>
                            </div>
                            <a href="" class="stretched-link"></a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card rounded-3 border-0 shadow-sm position-relative">
                            <figure class="mb-0 position-relative">
                                <img src="https://picsum.photos/500/650.webp" alt=""
                                    class="rounded-3 rounded-bottom-4 w-100">
                            </figure>
                            <div class="card-body py-4">
                                <div class="d-flex justify-content-start align-items-center">
                                    <figure class="mb-0">
                                        <img src="https://picsum.photos/60/60.webp"
                                            class="object-fit-cover rounded-circle" alt="">
                                    </figure>
                                    <div class="d-grid lh-1 ms-3">
                                        <strong>Sandra Wong</strong>
                                        <small>Lorem, ipsum dolor.</small>
                                    </div>
                                </div>
                            </div>
                            <a href="" class="stretched-link"></a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card rounded-3 border-0 shadow-sm position-relative">
                            <figure class="mb-0 position-relative">
                                <img src="https://picsum.photos/500/650.webp" alt=""
                                    class="rounded-3 rounded-bottom-4 w-100">
                            </figure>
                            <div class="card-body py-4">
                                <div class="d-flex justify-content-start align-items-center">
                                    <figure class="mb-0">
                                        <img src="https://picsum.photos/60/60.webp"
                                            class="object-fit-cover rounded-circle" alt="">
                                    </figure>
                                    <div class="d-grid lh-1 ms-3">
                                        <strong>Sandra Wong</strong>
                                        <small>Lorem, ipsum dolor.</small>
                                    </div>
                                </div>
                            </div>
                            <a href="" class="stretched-link"></a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card rounded-3 border-0 shadow-sm position-relative">
                            <figure class="mb-0 position-relative">
                                <img src="https://picsum.photos/500/650.webp" alt=""
                                    class="rounded-3 rounded-bottom-4 w-100">
                            </figure>
                            <div class="card-body py-4">
                                <div class="d-flex justify-content-start align-items-center">
                                    <figure class="mb-0">
                                        <img src="https://picsum.photos/60/60.webp"
                                            class="object-fit-cover rounded-circle" alt="">
                                    </figure>
                                    <div class="d-grid lh-1 ms-3">
                                        <strong>Sandra Wong</strong>
                                        <small>Lorem, ipsum dolor.</small>
                                    </div>
                                </div>
                            </div>
                            <a href="" class="stretched-link"></a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card rounded-3 border-0 shadow-sm position-relative">
                            <figure class="mb-0 position-relative">
                                <img src="https://picsum.photos/500/650.webp" alt=""
                                    class="rounded-3 rounded-bottom-4 w-100">
                            </figure>
                            <div class="card-body py-4">
                                <div class="d-flex justify-content-start align-items-center">
                                    <figure class="mb-0">
                                        <img src="https://picsum.photos/60/60.webp"
                                            class="object-fit-cover rounded-circle" alt="">
                                    </figure>
                                    <div class="d-grid lh-1 ms-3">
                                        <strong>Sandra Wong</strong>
                                        <small>Lorem, ipsum dolor.</small>
                                    </div>
                                </div>
                            </div>
                            <a href="" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- |=====|| Benkien End ||=================| -->
    <!-- |==========================================| -->
    <!-- |==========================================| -->
    <!-- |=====|| Footer Start ||===============| -->

    <footer class="footer position-relative">
        <div class="container">
            <div class="row justify-content-center align-items-start d-flex text-center pb-3 g-3">
                <div class="col-lg-4">
                    <div class="footer__items mb-3">
                        <strong>Benkien</strong>
                    </div>
                    <p>
                        Nesciunt reiciendis blanditiis ratione fuga! Fuga, aliquid temporibus provident aut accusamus
                        sapiente reiciendis excepturi? Cumque, at sunt praesentium commodi consequatur quasi sequi?
                    </p>
                </div>
                <div class="col-lg-4">
                    <div class="footer__items">
                        <strong class="d-block mb-3">Benkien</strong>
                        <p>
                            Nesciunt reiciendis blanditiis ratione fuga! Fuga, aliquid temporibus
                        </p>
                    </div>
                    <form action="">
                        <div class="form-floating position-relative">
                            <input type="email"
                                class="form-control bg-transparent border-0 border-bottom rounded-0 shadow-none"
                                id="floatingInput" placeholder="E-Mail">
                            <label for="floatingInput" class="bg-transparent">E-Mail</label>
                            <div class="btns position-absolute top-50 end-0 translate-middle-y">
                                <button type="button" class="btn btn-link text-dark">Kayıt Ol</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4">
                    <div class="footer__items mb-3">
                        <strong>More Info</strong>
                    </div>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active text-dark text-opacity-50" aria-current="page" href="#">Active</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark text-opacity-50" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark text-opacity-50" href="#">Link</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer__bottom border-top pt-3">
                <div class="row justify-content-center align-items-center d-flex">
                    <div class="col-lg-4">
                        <ul class="nav justify-content-center">
                            <li class="nav-item">
                                <a class="nav-link active text-dark" target="_blank" aria-current="page" href="#">
                                    <i class="bi bi-facebook"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" target="_blank" aria-current="page" href="#">
                                    <i class="bi bi-instagram"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" target="_blank" aria-current="page" href="#">
                                    <i class="bi bi-youtube"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" target="_blank" aria-current="page" href="#">
                                    <i class="bi bi-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <p class="mb-0">
                            © 2023 <strong>BENKIEN.</strong> Powered by <a href="#"
                                class="text-decoration-underline text-dark">Batuhan Fidan</a>
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <ul class="nav justify-content-center gap-3">
                            <li class="nav-item">
                                <figure class="mb-0">
                                    <img src="https://picsum.photos/50/30.webp" alt="">
                                </figure>
                            </li>
                            <li class="nav-item">
                                <figure class="mb-0">
                                    <img src="https://picsum.photos/50/30.webp" alt="">
                                </figure>
                            </li>
                            <li class="nav-item">
                                <figure class="mb-0">
                                    <img src="https://picsum.photos/50/30.webp" alt="">
                                </figure>
                            </li>
                            <li class="nav-item">
                                <figure class="mb-0">
                                    <img src="https://picsum.photos/50/30.webp" alt="">
                                </figure>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- |=====|| Footer End ||=================| -->
    <!-- |==========================================| -->


    <!-- |==========================================| -->
    <!-- |=====|| Search Modal Start ||===============| -->
    <div class="offcanvas offcanvas-top justify-content-center" tabindex="-1" id="offcanvasTop"
        aria-labelledby="offcanvasTopLabel" aria-modal="true" role="dialog">
        <div class="container">
            <button type="button" class="close__btn shadow-none border-0 bg-transparent position-absolute end-0 top-0"
                data-bs-dismiss="offcanvas" aria-label="Close">
                <i class="bi bi-x fs-1"></i>
            </button>
            <div class="offcanvas-body">
                <div class="row justify-content-center align-items-center d-flex">
                    <div class="col-12 text-center">
                        <div class="head__title">
                            <h5> Ürün Arama </h5>
                        </div>
                    </div>
                    <div class="col-lg-8 col-12">
                        <form action="" class="mt-5">
                            <div class="form-floating">
                                <input type="text" class="form-control shadow-none border position-relative fw-bold"
                                    id="floatingInput" placeholder="name@example.com">
                                <label for="floatingInput" class="text-dark text-opacity-50">Lütfen ürün adını
                                    yazınız</label>
                                <button type="button"
                                    class="btn btn-link shadow-none position-absolute top-50 end-0 translate-middle-y">
                                    <svg viewBox="0 0 24 24" height="26px" width="26px"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M21.71 20.29 18 16.61A9 9 0 1 0 16.61 18l3.68 3.68a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.39ZM11 18a7 7 0 1 1 7-7 7 7 0 0 1-7 7Z"
                                            fill="#606060" class="fill-6563ff">
                                        </path>
                                    </svg>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- |=====|| Search Modal End ||=================| -->
    <!-- |==========================================| -->

    <!-- |==========================================| -->
    <!-- |=====|| Basket(Sepet) Modal Start ||===============| -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasRightLabel">Sepetiniz</h5>
            <button type="button" class="btn-close shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="product__items mb-3">
                <div class="p-0">
                    <div class="d-flex align-items-center border-bottom border-top position-relative">
                        <figure class="mb-0">
                            <img src="https://picsum.photos/80/80.webp" alt="">
                        </figure>
                        <div class="d-grid ms-3">
                            <strong>
                                Ürün Adı Buraya Gelecek
                            </strong>
                            <span>
                                Fiyatı: <strong>115₺</strong>
                            </span>
                            <span>
                                Adet: 2
                            </span>
                            <a href="#" class="stretched-link"></a>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="query mt-2">
                            <div class="quantity-control" data-quantity="">
                                <button class="quantity-btn" data-quantity-minus=""><svg viewBox="0 0 409.6 409.6">
                                        <g>
                                            <g>
                                                <path
                                                    d="M392.533,187.733H17.067C7.641,187.733,0,195.374,0,204.8s7.641,17.067,17.067,17.067h375.467 c9.426,0,17.067-7.641,17.067-17.067S401.959,187.733,392.533,187.733z" />
                                            </g>
                                        </g>
                                    </svg></button>
                                <input type="number" class="quantity-input" data-quantity-target="" value="1" step="1"
                                min="1" max="999" name="quantity">
                                <button class="quantity-btn" data-quantity-plus=""><svg
                                        viewBox="0 0 426.66667 426.66667">
                                        <path
                                            d="m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="deleted__product mt-2">
                            <button class="btn btn-danger shadow-none">
                                <i class="bi bi-x fs-6 text-white"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product__items mb-3">
                <div class="p-0">
                    <div class="d-flex align-items-center border-bottom border-top position-relative">
                        <figure class="mb-0">
                            <img src="https://picsum.photos/80/80.webp" alt="">
                        </figure>
                        <div class="d-grid ms-3">
                            <strong>
                                Ürün Adı Buraya Gelecek
                            </strong>
                            <span>
                                Fiyatı: <strong>115₺</strong>
                            </span>
                            <span>
                                Adet: 2
                            </span>
                            <a href="#" class="stretched-link"></a>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="query mt-2">
                            <div class="quantity-control" data-quantity="">
                                <button class="quantity-btn" data-quantity-minus=""><svg viewBox="0 0 409.6 409.6">
                                        <g>
                                            <g>
                                                <path
                                                    d="M392.533,187.733H17.067C7.641,187.733,0,195.374,0,204.8s7.641,17.067,17.067,17.067h375.467 c9.426,0,17.067-7.641,17.067-17.067S401.959,187.733,392.533,187.733z" />
                                            </g>
                                        </g>
                                    </svg></button>
                                <input type="number" class="quantity-input" data-quantity-target="" value="1" step="1"
                                min="1" max="999" name="quantity">
                                <button class="quantity-btn" data-quantity-plus=""><svg
                                        viewBox="0 0 426.66667 426.66667">
                                        <path
                                            d="m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="deleted__product mt-2">
                            <button class="btn btn-danger shadow-none">
                                <i class="bi bi-x fs-6 text-white"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="empty-mini-cart text-center ">
                <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 231.523 231.523"
                    class="opacity-25" style="enable-background:new 0 0 231.523 231.523" xml:space="preserve">
                    <path
                        d="M107.415 145.798a7.502 7.502 0 0 0 8.231 6.69 7.5 7.5 0 0 0 6.689-8.231l-3.459-33.468a7.5 7.5 0 0 0-14.92 1.542l3.459 33.467zM154.351 152.488a7.501 7.501 0 0 0 8.231-6.69l3.458-33.468a7.499 7.499 0 0 0-6.689-8.231c-4.123-.421-7.806 2.57-8.232 6.689l-3.458 33.468a7.5 7.5 0 0 0 6.69 8.232zM96.278 185.088c-12.801 0-23.215 10.414-23.215 23.215 0 12.804 10.414 23.221 23.215 23.221s23.216-10.417 23.216-23.221c0-12.801-10.415-23.215-23.216-23.215zm0 31.435c-4.53 0-8.215-3.688-8.215-8.221 0-4.53 3.685-8.215 8.215-8.215 4.53 0 8.216 3.685 8.216 8.215 0 4.533-3.686 8.221-8.216 8.221zM173.719 185.088c-12.801 0-23.216 10.414-23.216 23.215 0 12.804 10.414 23.221 23.216 23.221 12.802 0 23.218-10.417 23.218-23.221 0-12.801-10.416-23.215-23.218-23.215zm0 31.435c-4.53 0-8.216-3.688-8.216-8.221 0-4.53 3.686-8.215 8.216-8.215 4.531 0 8.218 3.685 8.218 8.215 0 4.533-3.686 8.221-8.218 8.221z">
                    </path>
                    <path
                        d="M218.58 79.08a7.5 7.5 0 0 0-5.933-2.913H63.152l-6.278-24.141a7.5 7.5 0 0 0-7.259-5.612H18.876a7.5 7.5 0 0 0 0 15h24.94l6.227 23.946c.031.134.066.267.104.398l23.157 89.046a7.5 7.5 0 0 0 7.259 5.612h108.874a7.5 7.5 0 0 0 7.259-5.612l23.21-89.25a7.502 7.502 0 0 0-1.326-6.474zm-34.942 86.338H86.362l-19.309-74.25h135.895l-19.31 74.25zM105.556 52.851a7.478 7.478 0 0 0 5.302 2.195 7.5 7.5 0 0 0 5.302-12.805L92.573 18.665a7.501 7.501 0 0 0-10.605 10.609l23.588 23.577zM159.174 55.045c1.92 0 3.841-.733 5.306-2.199l23.552-23.573a7.5 7.5 0 0 0-.005-10.606 7.5 7.5 0 0 0-10.606.005l-23.552 23.573a7.5 7.5 0 0 0 5.305 12.8zM135.006 48.311h.002a7.5 7.5 0 0 0 7.5-7.498l.008-33.311A7.5 7.5 0 0 0 135.018 0h-.001a7.5 7.5 0 0 0-7.501 7.498l-.008 33.311a7.5 7.5 0 0 0 7.498 7.502z">
                    </path>
                </svg>
                <div class="entry-desc mt-3 text-dark text-opacity-50 fs-6">Sepetinizde Ürün Bulunmamaktadır, Lütfen
                    Sepetinize Ürün Ekleyiniz.</div>
            </div>
        </div>
        <div class="offcanvas-footer mb-3">
            <div class="d-grid gap-2">
                <button class="btn btn-dark" type="button">Sepete Git</button>
                <button class="btn btn-outline-dark" type="button">Ödeme Yap</button>
              </div>
        </div>
    </div>
    <!-- |=====|| Basket(Sepet) Modal End ||=================| -->
    <!-- |==========================================| -->
    <!-- |==========================================| -->
    <!-- |=====|| Mobile Menu Modal Start ||===============| -->

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Menü</h5> <button type="button"
                class="btn-close shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="offcanvas-menu">
                <ul class="nav flex-column align-items-center">
                    <li class="nav-item">
                        <a class="nav-link active text-dark text-opacity-50 p-0" aria-current="Anasayfa"
                            title="Anasayfa" href="index.html">Anasayfa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  text-dark text-opacity-50 p-0" aria-current="Hakkımızda" title="Hakkımızda"
                            href="hakkimizda.html">Hakkımızda</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle p-0 text-dark text-opacity-50" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Kategoriler
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end border-0 shadow-sm rounded-0 mt-3">
                            <li>
                                <a class="dropdown-item py-2" href="kategori.html" aria-current="Action" title="Action">
                                    Kategori
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item py-2" href="#" aria-current="Action" title="Action">
                                    Action
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item py-2" href="#" aria-current="Action" title="Action">
                                    Action
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item py-2" href="#" aria-current="Action" title="Action">
                                    Action
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark text-opacity-50 p-0" aria-current="Ürünler" title="Ürünler"
                            href="urun_detay.html">Ürünler</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark text-opacity-50 p-0" aria-current="İletişim" title="İletişim"
                            href="iletisim.html">İletişim</a>
                    </li>
                </ul>
            </div>
            <div class="offcanvas-footer position-absolute bottom-0 start-50 translate-middle-x mb-5">
                <div class="social-media">
                    <ul class="nav justify-content-center">
                        <li class="nav-item"> <a class="nav-link" aria-current="Instagram" title="Instagram"
                                href="https://www.linkedin.com/feed/"> <i class="bi bi-instagram"></i> </a> </li>
                        <li class="nav-item"> <a class="nav-link" aria-current="linkedin" title="linkedin"
                                href="https://www.linkedin.com/company/alfamimarisistemler/"> <i
                                    class="bi bi-linkedin"></i> </a> </li>
                    </ul>
                </div>
                <div class="footer-text">
                    <p>Copyright 2022 © Tüm hakları saklıdır.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- |=====|| Mobile Menu Modal End ||=================| -->
    <!-- |==========================================| -->

    <!--================= Bootstrap, Theme JS, Owl Js, Jquery Js -->

    <script type="text/javascript" src="global/js/bootstrap/bootstrap.bundle.min.js" defer='defer'></script>
    <script type="text/javascript" src="global/js/jquery-3.6.0.min.js" defer='defer'></script>
    <script type="text/javascript" src="global/js/swiper-bundle.min.js" defer='defer'></script>
    <script type="text/javascript" src="https://unpkg.com/gsap@3.11.5/dist/ScrollTrigger.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/gsap@3.11.5/dist/gsap.min.js"></script>
    <script type="text/javascript" src="global/js/theme.js" defer='defer'></script>
</body>

</html>

<!--
**********************************************************************************************************
    Copyright (c) 2023 .
**********************************************************************************************************  
-->